@model List<Post> 
@{
    int stt=1;
}
<style>
        .btn-custom{
        display: inline-block;
        padding:8px;
        border-radius: 9px;
        cursor: pointer;
    }
    .btn-create{
        color:white;
        
        background-color: #5751e1;
    }
    .btn-create:hover{
        color:white;
        opacity: 0.85;
    }
</style>
<div class="container">
    <div class="manage-blog">
        <a asp-action="create" class="btn-custom  btn-create">Tạo mới 1 bài viết</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên bài viết</th>
                <th>Tên chủ đề</th>
                <th>Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>@item.PostName</td>
                    <td>@item.Blog.BlogName</td>
                    <td>
                        <a class="btn-custom btn-info" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                        <a class="btn-custom btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-@item.Id">
                                Xóa
                                </a>
    
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal-@item.Id">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Xác nhận</h4>
                                        <button type="button" class="btn-close " data-bs-dismiss="modal"></button>
                                    </div>
    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a  class="btn-danger btn-custom btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        <a class="btn-custom btn-warning" asp-action="Detail" asp-route-id="@item.Id">Xem bài</a>
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>