@model List<Post> 
@{
    int stt=1;
}
@{
    Layout="_LayoutAdmin";
}
<style>
    .post-manage-detail{
        margin-top: 40px;
        @* width: 80%; *@
    }
    .manage-post{
        display: flex;
        justify-content: space-between;
    }
    .manage-post{
        padding: 20px 0;
        background-color: rgb(255, 255, 255);
        position: sticky;
        top:100px;
    }
    thead{
        position: sticky;
        top:165px;
    }
    @* form search *@
    .input-search{
        border-radius: 999px;
        border: 0.5px solid black;
        padding: 4px;
        margin-left: 20px;
    }
    .btn-search{
        border: none;
        background-color: #5751e1;
        color: white;
        border-radius: 50%;
    }
    @*  *@
    .action{
        padding: 5px;
    }
    .delete-btn{
        cursor: pointer;
    }
    .btn-custom{
        padding: 5px;
        border-radius: 8px;
        color:rgb(252, 252, 252);
    }
    .btn-custom:hover{
        color:rgb(252, 252, 252);
    }
    .btn-add{
        background-color: #3eb93c;
    }
</style>
<div class="container post-manage-detail">
    <div class="manage-post">
        <a asp-action="create" class="btn-custom  btn-add">Tạo mới 1 bài viết</a>
        <form asp-action="SearchPost" class="form-search">
            <input type="text" name="postName" class="input-search" placeholder="Search For Blog">
            <button type="submit" class=btn-search><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên bài viết</th>
                <th>Tên chủ đề</th>
                <th>Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>@item.PostName</td>
                    <td>@item.Blog.BlogName</td>
                    <td>
                        <a class="action" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-wrench"></i></a>
                        <a class="action delete-btn" data-bs-toggle="modal" data-bs-target="#myModal-@item.Id">
                                <i class="fa-solid fa-trash"></i>
                                </a>
    
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal-@item.Id">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Xác nhận</h4>
                                        <button type="button" class="btn-close " data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        Bạn có chắc muốn xóa bài post này?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a  class="btn btn-danger btn-custom btn-danger" asp-action="delete" asp-route-id="@item.Id">Xóa</a>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        <a class="action" asp-action="Detail" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>