@model Test
@inject AppDbContext _context
@{
    var TestId = Model.Id;
    var course = _context.courses.Where(c => c.Id == Model.CourseId).FirstOrDefault();
    int soCauHoi = Model.NumberOfQuestion;

    int i = 0;
}
<div class="title">
    <h3 class="title__name">@Model.TestName (@course.CourseName)</h3>
</div>
<div class="exam-system">
    <form method="post" asp-action="Edit" asp-controller="Question" asp-route-TestId="@TestId" class="form-edit-question">
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        @for (int k = 0; k < Model.NumberOfQuestion; k++)
        {
            <div class="question-area">
                <label for="questions[@i].QuestionName" required><strong>Enter the question @(i + 1):</strong></label>
                <span class="error error-question-@i" style="display: none; color: red;">You have not entered a question yet</span>
                @* Neu cau hoi chua co thi them vao *@
                @if (k < Model.Questions.Count)
                {
                    <textarea name="questions[@i].QuestionName" id="questions[@i].QuestionName" class="question-textarea" asp-for="@Model.Questions[k].QuestionName"></textarea>
                    <input type="hidden" name="questions[@i].Id" value="@Model.Questions[k].Id">
                }
                else
                {
                    <textarea name="questions[@i].QuestionName" id="questions[@i].QuestionName" class="question-textarea"></textarea>
                }
                <input type="hidden" name="questions[@i].TestId" value="@TestId">
                
                <br>
                <label for="">Enter the answer:</label>
                <br>
                @{
                    int j = 0;
                }
                @for (int m = 0; m < 4; m++)
                {
                    // Neu da co cau hoi tu truoc do roi thi can in ra 
                    if (k < Model.Questions.Count)
                    {
                        <input type="text" name="answerText[@(i * 4 + j)]" required class="input-text" asp-for="@Model.Questions[k].Answers[m].AnswerText">
                        if (Model.Questions[k]?.Answers[m].IsCorrect == 1)
                        {
                            <input type="radio" class="input-radio" checked name="answerCorrect[@i]" required value="@j"><br>
                        }
                        else
                        {
                            <input type="radio" class="input-radio" name="answerCorrect[@i]" required value="@j"><br>
                        }
                    }
                    // neu chua co cau hoi, cau nay moi duoc them vao thi chua co hiện gì cả
                    else
                    {
                        <input type="text" name="answerText[@(i * 4 + j)]" required class="input-text">
                        <input type="radio" class="input-radio" name="answerCorrect[@i]" required value="@j"><br>
                    }
                    j++;
                }
            </div>
            ++i;
        }
        <input type="submit" value="Sửa bài thi" class="btn-danger btn-edit">
    </form>
</div>
<style>
    @* Title *@
    .title {
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        background-color: rgb(225, 235, 236);
        border-radius: 30px;
    }
    .title__name {
        width: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @* Exam-system *@
    .exam-system {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    input, button, textarea, label {
        color: black;
    }
    .input-text {
        width: 600px;
    }
    input {
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
    }
    strong {
        color: red;
        font-weight: 600;
    }
    .question-area {
        border: 1px solid black;
        padding: 40px;
        width: 100%;
    }
    .btn-danger {
        background-color: #5751e1;
        border: none;
    }
    .btn-danger:hover {
        background-color: #5751e1;
        opacity: 0.8;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let formElement = document.querySelector(".form-edit-question");
        let allQuestions = document.querySelectorAll(".question-textarea");

        formElement.onsubmit = function(e) {
            let formIsValid = true;
            allQuestions.forEach((question, index) => {
                let errorSpan = document.querySelector(".error-question-" + index);
                if (!question.value.trim()) {
                    e.preventDefault();
                    errorSpan.style.display = "block";
                    formIsValid = false;
                } else {
                    errorSpan.style.display = "none";
                }
            });
            return formIsValid;
        }

        allQuestions.forEach((question, index) => {
            let errorSpan = document.querySelector(".error-question-" + index);
            question.oninput = function(e) {
                if (e.target.value.trim()) {
                    errorSpan.style.display = "none";
                }
            }
        });
    });
</script>
