@model Test
@inject AppDbContext _context
@{
    
    var TestId=Model.Id;
    var course=_context.courses.Where(c=>c.Id==Model.CourseId).FirstOrDefault();
    int soCauHoi=Model.NumberOfQuestion;
    

    int i=0;

}
<div class="title">
    <h3 class="title__name">@Model.TestName (@course.CourseName)</h3>
</div>
<div class="exam-system">
    <form method="post" asp-action="Edit" asp-controller="Question" asp-route-TestId="@TestId" >
        <div asp-validation-summary="All" class="text-danger"></div>
        @foreach(var item in Model.Questions)
        {
            <div class="question-area">
                <label for="questions[@i].QuestionName"  required ><strong>Nhập câu hỏi @(i+1):</strong></label>
                @* <input type="text" name="questions[@i].QuestionName" id="questions[@i].QuestionName" asp-for="@item.QuestionName" required class="input-text"> *@
                <textarea name="questions[@i].QuestionName" id="questions[@i].QuestionName" asp-for="@item.QuestionName" required></textarea>
                <input type="hidden" name="questions[@i].TestId"  value="@TestId">
                <br>
                <label for="">Nhập đáp án:</label>
                <br>
                @{
                    int j=0;
                }
                @foreach(var ans in item.Answers)
                {
                    <input type="text" name="answerText[@(i*4+j)]" required class="input-text" asp-for="@ans.AnswerText">
                    if(ans.IsCorrect==1)
                    {
                        <input type="radio" class="input-radio" checked name="answerCorrect[@i]" required value="@j"><br>
                    }
                    else{
                        <input type="radio" class="input-radio"  name="answerCorrect[@i]" required value="@j"><br>
                    }
                    j++;
                }
                
                
            </div>
            ++i;
        }
        <input type="submit" value="Sửa bài thi" class="btn-danger btn-edit">
    </form>
</div>
<style>

    @* Title *@
    .title{
        margin: 0 auto;
        width: 80%;
        padding: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
        background-color: rgb(225, 235, 236);
        border-radius: 30px;
    }
    .title__name{
        width: 600px;
        margin: 0 auto;
        background-color:;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @* Exem-system *@
    .exam-system{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    input,button,textarea,label{
        color: black;
    }
    .input-text{
        width: 600px;
    }
    
    input{
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
    }
    strong{
        color:red;
        font-weight: 600;
    }
    .question-area
    {
        border:1px solid black;
        @* box-sizing: border-box; *@
        padding:40px;
        width: 100%;
    }
    .btn-danger{
        background-color: #5751e1;
        border: none;
    }
    .btn-danger:hover{
        background-color: #5751e1;
        opacity: 0.8;
    }

</style>