@using Microsoft.EntityFrameworkCore
@inject IHttpContextAccessor HttpContextAccessor
@inject AppDbContext _context
<!-- banner-area -->
        <section class="banner-area banner-bg tg-motion-effects" data-background="assets/img/banner/banner_bg.png">
            <div class="container">
                <div class="row justify-content-between align-items-start">
                    <div class="col-xl-5 col-lg-6">
                        <div class="banner__content">
                            <h3 class="title tg-svg" data-aos="fade-right" data-aos-delay="400">
                                Never Stop
                                <span class="position-relative">
                                    <span class="svg-icon" id="banner-svg" data-svg-icon="assets/img/objects/title_shape.svg"></span>
                                    <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565" fill="currentcolor" />
                                    </svg>
                                    Learning
                                </span>
                                <br>Life <b>Never Stop</b> Teaching
                            </h3>
                            <p data-aos="fade-right" data-aos-delay="600">Every teaching and learning journey is unique Following We'll help guide your way.</p>
                           
                            @if(HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated==false)
                            {
                                 <div class="banner__btn-wrap" data-aos="fade-right" data-aos-delay="800">
                                <a asp-action="AllCourse" asp-controller="Course" class="btn arrow-btn">Start Free Trial <img src="assets/img/icons/right_arrow.svg" alt="img" class="injectable"></a>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner__images">
                            <img src="assets/img/banner/banner_img.png" alt="img" class="main-img">
                            <div class="shape big-shape" data-aos="fade-up-right" data-aos-delay="600">
                                <img src="assets/img/banner/banner_shape01.png" alt="shape" class="tg-motion-effects1">
                            </div>
                            <img src="assets/img/banner/bg_dots.svg" alt="shape" class="shape bg-dots rotateme">
                            <img src="assets/img/banner/banner_shape02.png" alt="shape" class="shape small-shape tg-motion-effects3">
                            <div class="banner__author">
                                <div class="banner__author-item">
                                    <div class="image">
                                        <img src="assets/img/courses/course_author001.png" alt="img">
                                    </div>
                                    <h6 class="name">Duc Anh Do</h6>
                                </div>
                                <div class="banner__author-item">
                                    <div class="image">
                                        <img src="assets/img/banner/banner_author02.png" alt="img">
                                    </div>
                                    <h6 class="name">Khanh.X.Dang</h6>
                                </div>
                                <img src="assets/img/banner/banner_shape02.svg" alt="shape" class="arrow-shape tg-motion-effects3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/img/banner/banner_shape01.svg" alt="shape" class="line-shape" data-aos="fade-right" data-aos-delay="1600">
        </section>
<!-- banner-area-end -->

<!-- course-area -->
        <section class="courses-area section-pt-120 section-pb-90" data-background="assets/img/bg/courses_bg.jpg">
            <div class="container">
                <div class="section__title-wrap">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section__title text-center mb-40">
                                <span class="sub-title">Top Class Courses</span>
                                <h2 class="title">Explore Our World's Best Courses</h2>
                                <p class="desc">When known printer took a galley of type scrambl edmake</p>
                            </div>
                            <div class="courses__nav">
                                <ul class="nav nav-tabs" id="courseTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button"
                                            role="tab" aria-controls="all-tab-pane" aria-selected="true">
                                            Recommended courses
                                        </button>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="courseTabContent">
                    <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
                        <div class="swiper courses-swiper-active">
                            <div class="swiper-wrapper">
                                @{
                                    int i=1;
                                }
                                @foreach(var item in _context.courses.Include(c => c.Category).Include(c=>c.Teacher).ToList())
                                {
                                    if(i==7)
                                    {
                                        break;
                                    }
                                    i++;
                                    <div class="swiper-slide">
                                        <div class="courses__item shine__animate-item">
                                            <div class="courses__item-thumb">
                                                <a asp-action="detail" asp-controller="course" asp-route-id="@item.Id" class="shine__animate-link">
                                                    <img src="~/@item.CourseImageLink" alt="img">
                                                </a>
                                            </div>
                                            <div class="courses__item-content">
                                                <ul class="courses__item-meta list-wrap">
                                                    <li class="courses__item-tag">
                                                        <a >@item.Category.CategoryName</a>
                                                    </li>
                                                    <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li>
                                                </ul>
                                                <h5 class="title"><a asp-action="detail" asp-controller="course" asp-route-id="@item.Id">@item.CourseName</a></h5>
                                                <p class="author">By <a >@item.Teacher.Name</a></p>
                                                <div class="courses__item-bottom">
                                                    <div class="button">
                                                        <a asp-action="CheckoutVNPay" asp-controller="Course" asp-route-courseId="@item.Id" >
                                                            <span class="text">Đăng kí ngay</span>
                                                            <i class="flaticon-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                    <h5 class="price">$@item.Price</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="courses__nav">
                            <div class="courses-button-prev"><i class="flaticon-arrow-right"></i></div>
                            <div class="courses-button-next"><i class="flaticon-arrow-right"></i></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
<!-- course-area-end -->

<!-- features-area -->
        <section class="features__area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="section__title white-title text-center mb-50">
                            <span class="sub-title">How We Start Journey</span>
                            <h2 class="title">Start your Learning Journey Today!</h2>
                            <p>Groove’s intuitive shared inbox makesteam members together <br> organize, prioritize and.In this episode.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="features__item">
                            <div class="features__icon">
                                <img src="assets/img/icons/features_icon01.svg" class="injectable" alt="img">
                            </div>
                            <div class="features__content">
                                <h4 class="title">Learn with Experts</h4>
                                <p>Curate anding area share Pluralsight content to reach your</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="features__item">
                            <div class="features__icon">
                                <img src="assets/img/icons/features_icon02.svg" class="injectable" alt="img">
                            </div>
                            <div class="features__content">
                                <h4 class="title">Learn Anything</h4>
                                <p>Curate anding area share Pluralsight content to reach your</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="features__item">
                            <div class="features__icon">
                                <img src="assets/img/icons/features_icon03.svg" class="injectable" alt="img">
                            </div>
                            <div class="features__content">
                                <h4 class="title">Get Online Certificate</h4>
                                <p>Curate anding area share Pluralsight content to reach your</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="features__item">
                            <div class="features__icon">
                                <img src="assets/img/icons/features_icon04.svg" class="injectable" alt="img">
                            </div>
                            <div class="features__content">
                                <h4 class="title">E-mail Marketing</h4>
                                <p>Curate anding area share Pluralsight content to reach your</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- features-area-end -->

<!-- blog-area -->
        <section class="blog__post-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section__title text-center mb-40">
                            <span class="sub-title">News & Blogs</span>
                            <h2 class="title">Our Latest News Feed</h2>
                            <p>when known printer took a galley of type scrambl edmake</p>
                        </div>
                    </div>
                </div>
                <div class="row gutter-20">
                    @foreach(var item in _context.posts.Include(p=>p.Blog).Take(4).ToList())
                    {
                        <div class="col-xl-3 col-md-6">
                        <div class="blog__post-item shine__animate-item">
                            <div class="blog__post-thumb">
                                <a asp-action="detail" asp-controller="post" asp-route-id="@item.Id" class="shine__animate-link"><img src="~/@item.ImageLink" alt="img"></a>
                                @* <a href="" class="post-tag">@item.Blog.BlogName</a> *@
                            </div>
                            <div class="blog__post-content">
                                <div class="blog__post-meta">
                                    <ul class="list-wrap">
                                        <li><i class="flaticon-calendar"></i>@(item.DateCreatedOrEdited.ToString("dd/MM/yyyy"))</li>
                                        <li><i class="flaticon-user-1"></i>by <a href="">Admin</a></li>
                                    </ul>
                                </div>
                                <h4 class="title"><a asp-action="detail" asp-controller="post" asp-route-id="@item.Id">@item.PostName</a></h4>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </section>
<!-- blog-area-end -->