@model List<Course>
@inject AppDbContext _context
@{
    string routeId="";
    if(ViewContext.RouteData.Values.ContainsKey("id"))
    {
         routeId=ViewContext.RouteData.Values["id"].ToString();
    }
    
}
<!-- all-courses -->
<div class="courses__nav" style="width:60%;margin: 0 auto;margin-top: 100px;">
                                <ul class="nav nav-tabs" id="courseTab" role="tablist">
                                        @if(string.IsNullOrEmpty(routeId))
                                        {
                                            <a  asp-action="AllCourse" asp-route-id="" asp-route-sortBy="" style="color:blue;font-weight: 500;" >
                                                All Course
                                            </a>
                                        }
                                        else
                                        {
                                            <a  asp-action="AllCourse" asp-route-id="" asp-route-sortBy="" style="color:black;font-weight: 500;" >
                                                All Course
                                            </a>
                                        }
                                    @foreach(var item in _context.categories)
                                    {
                                        @if(routeId==item.Id.ToString())
                                        {
                                            <a  asp-action="AllCourse" asp-route-id="@item.Id" asp-route-sortBy="" style="color:blue;font-weight: 500;" >
                                                @item.CategoryName
                                            </a>
                                        }
                                        else
                                        {
                                            <a  asp-action="AllCourse" asp-route-id="@item.Id" asp-route-sortBy="" style="color:black;font-weight: 500;" >
                                                @item.CategoryName
                                            </a>
                                        }
                                    }
                                </ul>
</div>
<section class="all-courses-area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col" >
                        <div class="courses-top-wrap courses-top-wrap">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="courses-top-left">
                                        <p>Number of courses:@Model.Count</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="d-flex justify-content-center justify-content-md-end align-items-center flex-wrap">
                                        <div class="courses-top-right m-0 ms-md-auto">
                                            <span class="sort-by">Sort by:</span>
                                            <div class="courses-top-right-select">
                                                <select id="orderby" class="orderby">
                                                    <option value="">---</option>
                                                    <option value="price2">From low to high price</option>
                                                    <option value="price1">From high to low price</option>
                                                    <option value="name">By name</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">


                                        <div class="row courses__grid-wrap row-cols-1 row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
                                            @foreach(var item in Model)
                                            {
                                                var userCourse=_context.usersCourses.Where(c=>c.CourseId==item.Id).ToList();
                                                double star=0;
                                               
                                                    foreach(var userC in userCourse)
                                                    {
                                                        if(userC.rate!=null)
                                                        {
                                                            star+=(double)userC.rate;
                                                        }
                                                    }
                                                if(userCourse.Count>0)
                                                {
                                                    star=star/userCourse.Count;
                                                }

                                                <div class="col">
                                                    <div class="courses__item shine__animate-item">
                                                        <div class="courses__item-thumb">
                                                            <a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id" class="shine__animate-link">
                                                                <img src="~/@item.CourseImageLink" alt="img">
                                                            </a>
                                                        </div>
                                                        <div class="courses__item-content">
                                                            <ul class="courses__item-meta list-wrap">
                                                                <li class="courses__item-tag">
                                                                    <a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">@item.Category.CategoryName</a>
                                                                </li>
                                                                <li class="avg-rating"><i class="fas fa-star"></i>@star</li>
                                                            </ul>
                                                            <h5 class="title"><a asp-action="Detail" asp-route-id="@item.Id">@item.CourseName</a></h5>
                                                            @{
                                                                var teacher=_context.users.Where(u=>u.Id==item.TeacherId).FirstOrDefault();
                                                            }
                                                            <p class="author">By<a href="#"></a>@teacher.Name</p>
                                                            <div class="courses__item-bottom">
                                                                <div class="button">
                                                                    <a asp-action="checkoutvnpay" asp-route-courseId="@item.Id">
                                                                        <span class="text">Enroll now</span>
                                                                        <i class="flaticon-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                                @if(item.Price==0)
                                                                {
                                                                    <h5 class="price">Free</h5>
                                                                }
                                                                else
                                                                {
                                                                    <h5 class="price">$@item.Price</h5>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           }
                                        </div>
                                
                                @* <nav class="pagination__wrap mt-30">
                                    <ul class="list-wrap">
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">4</a></li>
                                    </ul>
                                </nav> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
<!-- all-courses-end -->
@section Scripts
{
    <script>
        document.getElementById('orderby').addEventListener('change', function() {
            var sortBy = this.value;
            var url = '/Course/AllCourse';
            if (sortBy) {
                url += '?sortBy=' + sortBy;
            }
            window.location.href = url;
        });
    </script>
}
