@model Course

<h1>Thông tin khóa học</h1>


@* <a asp-action="Create" asp-controller="Chapter" asp-route-courseId="@Model.Id" class="btn btn-warning">Thêm chương học</a> *@
<br>
<section class="courses__details-area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">

                        <div class="courses__details-content">
                           
                            <h2 class="title">@Model.CourseName</h2>
                            <div class="courses__details-meta">
                                <ul class="list-wrap">
                                    <li class="author-two">
                                        <img src="~/assets/img/courses/course_author001.png" alt="img">
                                        By
                                        <a href="#">Khanh Dang</a>
                                    </li>
                                    <li class="date"><i class="flaticon-calendar"></i>24/07/2024</li>
                                    <li><i class="flaticon-mortarboard"></i>2,250 Students</li>
                                </ul>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                               
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum-tab-pane" type="button" role="tab" aria-controls="curriculum-tab-pane" aria-selected="false">Curriculum</button>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                
                                <div class="tab-pane fade" id="curriculum-tab-pane" role="tabpanel" aria-labelledby="curriculum-tab" tabindex="0">
                                    <div class="courses__curriculum-wrap">
                                        <h3 class="title">@Model.CourseName</h3>
                                        <p>@Model.Description.</p>
                                        <div class="accordion" id="accordionExample">
                                           @foreach(var item in Model.chapters)
                                           {
                                             <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                                                        @item.ChapterName
                                                    </button>
                                                </h2>
                                                @foreach(var lesson in item.lessons)
                                                {
                                                     <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <ul class="list-wrap">
                                                            <li class="course-item open-item">
                                                                <a asp-action="Detail" asp-controller="Lesson" asp-route-id="@lesson.Id">
                                                                
                                                                    <span class="item-name">@lesson.LessonName</span>
                                                                    
                                                                </a>
                                                            </li>
                                        
                                                        </ul>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                           }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
</section>
@* @foreach(var item in Model.chapters)
{
    <strong>@item.ChapterName  | <a asp-action="Create" asp-controller="Lesson" asp-route-chapterId="@item.Id">Tạo bài học</a>
        | <a asp-action="Edit" asp-controller="Chapter" asp-route-id="@item.Id">Sửa tên chương học</a>
        |    <a class="btn delete-btn delete-chapter" data-id="@item.Id">Xóa chương học này</a>
    </strong>
    <ul>
        @if(item.lessons!=null)
        {
            foreach(var lesson in item.lessons)
            {
                <li>@lesson.LessonName 
                    | <a asp-action="Edit" asp-controller="Lesson" asp-route-id="@lesson.Id">Chỉnh sửa bài học</a>
                    | <a class="btn delete-btn delete-lesson" data-id="@lesson.Id">Xóa bài học</a>

                </li>
               <video controls width="600px" height="500px"> 
                    <source src="~/@lesson.FileLinkContent">
                </video>
            }
        }
    </ul>
} *@

<style>
    /* Style for modal */
    .modal {
        width: 350px;
        height: 150px;
        display: none; /* Ẩn modal mặc định */
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    /* Style for overlay */
    .overlay {
        display: none; /* Ẩn overlay mặc định */
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền tối */
    }
    
</style>
<div class="overlay" id="overlay"></div> <!-- Overlay để tối màn hình -->

<div id="confirmDeleteModal" class="modal">
    <span class="close">&times;</span>
    <p>Bạn có chắc chắn muốn xóa không?</p>
    <button id="confirmDeleteBtn" class="btn btn-danger">Xóa</button>
</div>

@section Scripts {
    <script>
        // Lấy tất cả các nút xóa và gán sự kiện click cho mỗi nút
        var deleteButtons = document.querySelectorAll('.delete-lesson');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                var lessonId = this.getAttribute('data-id');
                document.getElementById('confirmDeleteModal').style.display = 'block';
                document.getElementById('overlay').style.display = 'block'; // Hiển thị overlay
                
                // Xác nhận xóa khi người dùng nhấn nút "Xóa"
                document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
                    window.location.href = '/Lesson/Delete/' + lessonId;
                });
                
                // Ẩn modal và overlay khi người dùng nhấn nút "Đóng"
                document.querySelector('.close').addEventListener('click', function() {
                    document.getElementById('confirmDeleteModal').style.display = 'none';
                    document.getElementById('overlay').style.display = 'none'; // Ẩn overlay
                });
            });
        });
    </script>

     <script>
        // Lấy tất cả các nút xóa và gán sự kiện click cho mỗi nút
        var deleteButtons = document.querySelectorAll('.delete-chapter');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                var chapterId = this.getAttribute('data-id');
                document.getElementById('confirmDeleteModal').style.display = 'block';
                document.getElementById('overlay').style.display = 'block'; // Hiển thị overlay
                
                // Xác nhận xóa khi người dùng nhấn nút "Xóa"
                document.getElementById('confirmDeleteBtn').addEventListener('click', function() {
                    window.location.href = '/Chapter/Delete/' + chapterId;
                });
                
                // Ẩn modal và overlay khi người dùng nhấn nút "Đóng"
                document.querySelector('.close').addEventListener('click', function() {
                    document.getElementById('confirmDeleteModal').style.display = 'none';
                    document.getElementById('overlay').style.display = 'none'; // Ẩn overlay
                });
            });
        });
    </script>

    <script>
        function playVideo() {
            var video = document.getElementById("lessonVideo");
            video.play();
        }
    </script>
}

@* <section class="courses__details-area section-py-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8">

                        <div class="courses__details-content">
                            <ul class="courses__item-meta list-wrap">
                                <li class="courses__item-tag">
                                    <a href="course.html">Development</a>
                                </li>
                                <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li>
                            </ul>
                            <h2 class="title">Resolving Conflicts Between Designers And Engineers</h2>
                            <div class="courses__details-meta">
                                <ul class="list-wrap">
                                    <li class="author-two">
                                        <img src="~/assets/img/courses/course_author001.png" alt="img">
                                        By
                                        <a href="#">David Millar</a>
                                    </li>
                                    <li class="date"><i class="flaticon-calendar"></i>24/07/2024</li>
                                    <li><i class="flaticon-mortarboard"></i>2,250 Students</li>
                                </ul>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                               
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="curriculum-tab" data-bs-toggle="tab" data-bs-target="#curriculum-tab-pane" type="button" role="tab" aria-controls="curriculum-tab-pane" aria-selected="false">Curriculum</button>
                                </li>
                                
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                
                                <div class="tab-pane fade" id="curriculum-tab-pane" role="tabpanel" aria-labelledby="curriculum-tab" tabindex="0">
                                    <div class="courses__curriculum-wrap">
                                        <h3 class="title">Course Curriculum</h3>
                                        <p>Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan.</p>
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                                                        Introduction
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <ul class="list-wrap">
                                                            <li class="course-item open-item">
                                                                <a href="https://www.youtube.com/watch?v=b2Az7_lLh3g" class="course-item-link popup-video">
                                                                    <span class="item-name">Course Installation</span>
                                                                    <div class="course-item-meta">
                                                                        <span class="item-meta duration">03:03</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="course-item">
                                                                <a href="#" class="course-item-link">
                                                                    <span class="item-name">Create a Simple React App</span>
                                                                    <div class="course-item-meta">
                                                                        <span class="item-meta duration">07:48</span>
                                                                        <span class="item-meta course-item-status">
                                                                            <img src="~/assets/img/icons/lock.svg" alt="icon">
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
</section> *@